build/
.vs/
out/
work/
outputs/

dependencies/*
!dependencies/
!dependencies/nexus-api
!dependencies/nexus-api/
!dependencies/imgui
!dependencies/imgui/

*.dll
*.exp
*.ilk
*.lib
*.map
*.pdb
*.suo
*.user
